{
    "channel": {
        "FastGPT": {
            "mode_list": [
                "direct",
                "knowledge"
            ],
            "model_list": [
                "Qwen2.5-7B-Instruct"
            ],
            "knowledge_base_list": [
                "zyy",
                "dentistry",
                "ecology"
            ],
            "Qwen2.5-7B-Instruct": {
                "knowledge": {
                    "chat_url": "http://192.168.0.244:8012/api/v1/chat/completions",
                    "headers": {
                        "Authorization": "Bearer fastgpt-hc6kvezCaT7Ylr5RHvpQ5SPWoUpftXP6qfyykZz0DvBzvy7hJvWh03C9zKMNF",
                        "Content-Type": "application/json"
                    },
                    "history_len": 5,
                    "param": {
                        "chatId": "abcd",
                        "detail": false,
                        "messages": [],
                        "model": "Qwen2.5-7B-Instruct",
                        "stream": true,
                        "variables": {
                            "name": "张三",
                            "uid": "123"
                        }
                    },
                    "authorization": {
                        "zyy": "Bearer fastgpt-akLyVjSwTDCKnma0MdAKelmcPgeEpJ8bcB2HSlNZ0giyhrze6APjWoY",
                        "dentistry": "Bearer fastgpt-hc6kvezCaT7Ylr5RHvpQ5SPWoUpftXP6qfyykZz0DvBzvy7hJvWh03C9zKMNF",
                        "ecology": "Bearer fastgpt-tnZ9ZjQv7Okc9F3C4SgVDLD9t2t1GcmHEsPpZwYkV8zDGcmNBPfhSWURjR"
                    }
                },
                "direct": {
                    "chat_url": "http://192.168.0.244:8012/api/v1/chat/completions",
                    "headers": {
                        "Authorization": "Bearer fastgpt-y4rsDwlnrppQPKfRR2AN40jVx6mdCeeOfRtus7TyA5s4FgPUMko91nvSA6L",
                        "Content-Type": "application/json"
                    },
                    "history_len": 5,
                    "param": {
                        "chatId": "admin",
                        "detail": false,
                        "messages": [],
                        "model": "Qwen2.5-7B-Instruct",
                        "stream": true,
                        "max_new_tokens": 100,
                        "variables": {
                            "name": "张三",
                            "uid": "123"
                        }
                    },
                    "authorization": {
                        "zyy": "Bearer fastgpt-y4rsDwlnrppQPKfRR2AN40jVx6mdCeeOfRtus7TyA5s4FgPUMko91nvSA6L",
                        "dentistry": "Bearer fastgpt-ey4ouzBBj1PZf7EkKMHSZsfpqNAyCG1fH6LL6xak5DPhvrQmyBgzAFtNb",
                        "ecology": "Bearer fastgpt-xDEckaO63BqzVzWmb4JCACSRuzyjj64L3mvDTge5EMClko9mNTmFVeoM6dDbgInA"
                    }
                }
            }
        },
        "GraphRAG": {
            "mode_list": [
                "local",
                "global"
            ],
            "model_list": [
                "Qwen2.5-7B-Instruct"
            ],
            "knowledge_base_list": [
                "zyy",
                "dentistry",
                "ecology"
            ],
            "Qwen2.5-7B-Instruct": {
                "local": {
                    "chat_url": "http://192.168.0.246:8013/v1/chat/completions",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "history_len": 2,
                    "param": {
                        "model": "Qwen2.5-7B-Instruct",
                        "mode": "local",
                        "knowledge_base": "dentistry",
                        "messages": [],
                        "temperature": 1.0,
                        "stream": true
                    }
                },
                "global": {
                    "chat_url": "http://192.168.0.246:8013/v1/chat/completions",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "history_len": 2,
                    "param": {
                        "model": "Qwen2.5-7B-Instruct",
                        "mode": "global",
                        "knowledge_base": "dentistry",
                        "messages": [],
                        "temperature": 1.0,
                        "stream": true
                    }
                }
            }
        },
        "LangChain": {
            "mode_list": [
                "direct",
                "knowledge"
            ],
            "model_list": [
                "ChatGLM-6B"
            ],
            "knowledge_base_list": [
                "hengsha",
                "guangxin",
                "zyy"
            ],
            "ChatGLM-6B": {
                "direct": {
                    "chat_url": "http://192.168.0.246:7861/chat/chat",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "history_len": 5,
                    "param": {
                        "conversation_id": 10086,
                        "history": [],
                        "max_tokens": 0,
                        "messages": null,
                        "model_name": "chatglm3-6b",
                        "prompt_name": "hs",
                        "query": "",
                        "stream": false,
                        "temperature": 0.3
                    }
                },
                "knowledge": {
                    "chat_url": "http://192.168.0.246:7861/chat/knowledge_base_chat",
                    "headers": {
                        "Content-Type": "application/json"
                    },
                    "history_len": 5,
                    "param": {
                        "history": [],
                        "knowledge_base_name": "hengsha",
                        "max_tokens": 0,
                        "messages": null,
                        "model_name": "chatglm3-6b",
                        "prompt_name": "hs",
                        "query": "",
                        "score_threshold": 0.8,
                        "stream": false,
                        "temperature": 0.1,
                        "top_k": 15
                    }
                }
            }
        }
    },
    "channel_list": [
        "FastGPT",
        "GraphRAG",
        "LangChain"
    ],
    "current_channel": "FastGPT",
    "current_llm": "Qwen2.5-7B-Instruct",
    "current_mode": "knowledge",
    "max_tokens": 60,
    "min_tokens": 20
}